<h1>Editing affiliation</h1>

<%= render "form", affiliation: @affiliation %>

<br>

<div>
  <%= link_to "Show this affiliation", @affiliation %> |
  <%= link_to "Back to affiliations", affiliations_path %>
</div>
